{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<style>
      h2 {
        color: #3498db;
    }

    p {
        color: #ddd;
    }
</style>

<!-- About Section -->
<div class="container about-container">
    <div class="about-section">
        <h2>About chatbot</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, itaque
            tempora, optio numquam voluptates tenetur nostrum omnis ratione
            recusandae, incidunt repudiandae mollitia quae. Expedita qui pariatur
            distinctio atque, tempore quae!
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            voluptatem ea nemo tempora inventore debitis ut eveniet officia
            laborum qui suscipit temporibus delectus eaque alias nam, id
            consequuntur omnis totam!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
            debitis animi minima, excepturi suscipit libero ut eius quos ea quae
            assumenda modi molestiae deleniti distinctio ducimus maxime tenetur
            quis laboriosam!
        </p>
    </div>
</div>
{% endblock %}

