{% extends "base.html" %}
{% block title %}
Blog
{% endblock %}

{% block content %}

<div class="container blog-container">
    <div class="blog-post">
        <h2><a href="blog-post-1">How Safe is chatbot?</a></h2>
        <p>
            A brief overview of data privacy and encryption.
            <a href="blog-post-1"><b>Read more...</b></a>
        </p>
    </div>
    <div class="blog-post">
        <h2><a href="blog-post-2">How it Works</a></h2>
        <p>
            Learn about the AI technology behind Aia and how it improves over
            time. <a href="blog-post-2"><b>Read more...</b></a>
        </p>
    </div>
    <div class="blog-post">
        <h2><a href="blog-post-3">FAQs about chatbot</a></h2>
        <p>
            Got questions? Check out our frequently asked questions section.
            <a href="blog-post-3"><b>Read more...</b></a>
        </p>
    </div>
</div>
{% endblock %}


